<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
    <div class="info">
        <div class="head">
            <a href="#">
                <h3>ITCAST</h3>
            </a>
        </div>
        <div class="pic">
            <img src="./images/default.png" alt="">
            <span>超级管理员</span>
        </div>
        <div class="content">
            <ul>
                <li class="active">
                    <a href="./user.html">
                        <span class="glyphicon glyphicon-user"></span>用户管理
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span class="glyphicon glyphicon-list"></span>分类管理
                    </a>
                    <ol>
                        <li>
                            <a href="./first.html">一级分类</a>
                        </li>
                        <li>
                            <a href="./second.html">二级分类</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <a href="./products.html">
                        <span class="glyphicon glyphicon-tags"></span>商品管理
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nan class="nav">
       <a href="#">
        <span class="pull-left glyphicon glyphicon-align-justify"></span>
       </a>
        <a href="#">
            <span class="pull-right glyphicon glyphicon-log-out"></span>
        </a>
    </nan>

    <section class="path clearfix">
        <ol class="breadcrumb">
            <li>
                <a href="#">管理系统</a>
            </li>
            <li>
                用户管理
            </li>
        </ol>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>手机号</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button class="btn btn-danger">禁用</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul id="pagintor"></ul>
    </section>

    <div class="modal fade my-sure" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        您确定要退出后台管理系统吗？
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade modal-sure" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">温馨提示</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger">
                        <span class="glyphicon glyphicon-info-sign"></span>
                         您确定要<strong>禁用 itcast</strong>这个用户吗？
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</body>
</html>
<script src="./assets/jquery/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/bootstrap-paginator/bootstrap-paginator.min.js"></script>
<script src="./assets/artTemplate/template.js"></script>
<script id='user' type="text/html">
    {{each rows}}
        <tr>
            <td>{{(page - 1)*size+1+$index}}</td>
            <td>{{$value.username}}</td>
            <td>{{$value.mobile}}</td>
            <td>
                {{if $value.isDelete == 0}}
                    正常
                {{else}}
                    已禁用
                {{/if}}
            </td>
            <td data-id="{{$value.id}}">
                {{if  $value.isDelete == 0}}
                    <button class="btn btn-primary">禁用</button>
                {{else}}
                    <button class="btn btn-danger">启用</button>
                {{/if}}  
            </td>
        </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    {{/each}}
</script>
<script src="./js/common.js"></script>
<script src="./js/user.js"></script>
